{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}

<h1 class="mb-4">Nos produits</h1>

<div class="row">
    {% for product in products %}
        <div class="col-md-4">
            <div class="card p-3 mb-4 shadow-sm">

                <h5>{{ product.name }}</h5>
                <p>{{ product.description }}</p>

                <p class="fw-bold text-success">
                    {{ product.priceHT }} €
                </p>

                <a href="{{ path('product_show', {id: product.id}) }}" class="btn btn-dark">
                    Voir détail
                </a>

            </div>
        </div>
    {% else %}
        <p>Aucun produit disponible.</p>
    {% endfor %}
</div>

{% endblock %}